@import url(https://fonts.google.com/specimen/Nunito?preview.text=Whereas%20recognition%20of%20the%20inherent%20dignity);
:root{
  --main-color:#3867d6;
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
html{
  font-size: 62.5% ;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  width:1rem;

}
html::-webkit-scrollbar-track{
  background-color: #444;


}
html::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
  border-radius: 5rem;

}
body{
  background: #222;

}
/*after completion of header*/
section{
  padding:2rem 9%;

}
/*for contact us*/
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  background: #666;
  color: #fff;
  cursor: pointer;
  font-weight: 600;

}
.btn:hover{
  background-color: var(--main-color);
}
/**/
.header{

  position:fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 10000;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;

}
.header .logo{
  font-weight: bolder;
  color: #fff;
  font-size: 2.5rem;
}
.header .logo span{
  color:var(--main-color);
}
.header .navbar a{
  font-size: 1.7rem;
  color: #fff;
  margin-left: 2rem;
}
.header .navbar a:hover{
  color:var(--main-color);
}
#menu-bars{
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}
/*home page*/
.home .content{
  text-align: center;
  padding-top: 6rem;
  margin: 2rem auto;
  max-width: 70rem;
}
.home .content h3{
  color: #fff;
  font-size: 4.5rem;
  text-transform: uppercase;

}
.home .content h3 span{
  color: var(--main-color);
  font-size: 4.5rem;
  text-transform: uppercase;
}
.home .home-slider .swiper-slide{
  overflow: hidden;
  border-radius: .5rem;
  height: 50rem;
  width: 35rem;
}
.home .home-slider .swiper-slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/*swiper-text*/
.swiper-text{
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 15px;
}
.swiper-text h5{
  font-size: 2rem;
}
/*home page ended*/

/*our service page*/
.heading{
  text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size:  4rem;
}
.heading span{
   color: var(--main-color);
  text-transform: uppercase;
}

.service .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
  gap: 1.5rem;
  padding: 20px;
} 

.service .box-container .box{
  border-radius: .5rem;
  background: #333;
  text-align: center;
  padding: 2.5rem;

}
.service .box-container .box i{
  height:6rem;
  width: 6rem;
  line-height: 6rem;
  border-radius: 50%;
  font-size: 2.5rem;
  background:var(--main-color);
  color: #fff;
}
.service .box-container .box h3{
  font-size: 2rem;
  color:#fff;
  padding: 1rem 0;
}
.service .box-container .box p{
  font-size: 1.4rem;
  color: #eee;
  line-height:1.8;
}
/*service*/
/*about*/
.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .row .image{
  flex: 1 1 45rem;
  padding: 1rem;
}
.about .row .image img{
  width: 100%;
  border-radius: .5rem;
  border: 1rem solid #3333;
}
.about .row .content{
  flex:1 1 45rem;

}
.about .row .content h3{
  font-size: 3.5rem;
  color: #fff;
}
.about .row .content p{
  font-size: 1.5rem;
  color: #eee;
  padding: 1rem 0;
  line-height: 2;
}
/*about*/

/*contact page*/
.container{
  width:95%;
  background: #333;
  border-radius:6px ;
  padding: 30px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  /**/
  
  /**/

  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content:'';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background:var(--main-color);
}
.content .left-side .details{
  margin: 25%;
  text-align: center;
}

.content .left-side .details i{
  font-size: 30px;
  color:var(--main-color);
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  
}
.content .left-side .details .text-one{
  font-size: 14px;
  color:black;
}
.content .left-side .details .text-two{
  font-size: 14px;
  color:black;
}
.container .content .right-side{
  width:75%;
  margin-left: 75px;
}
.container .content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color:var(--main-color);
}
.container .content .right-side  p{
  font-size:15px;

}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side  .input-box input{
  height:100%;
  width: 100%;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  background-color: #222;
  border-radius: 6px;
}
.right-side  .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  background-color: #222;
  border-radius: 6px;
  resize: none;
}
.right-side .message-box{
 min-height: 110px;
 
}

.right-side .button{
  margin-top: 6px;
  display: inline-block;
}
.right-side .button input[type="button"]{
  color: white;
  font-size: 18px;
  background: var(--main-color);
  border-radius: 6px;
  padding: 8px 16px;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button input[type="button"]:hover{
  background-color: #111;
}
/*contact*/

/*footer*/
.footer{
  background: #111;
}
.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3{
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #fff;

}
.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #eee;

}
.footer .box-container .box a i{
  padding-right: .5rem;
  color: var(--main-color);
}
.footer .box-container .box a:hover i{
  padding-right:1.5rem;
  color: #fff;
}

.footer .credit{
  text-align: center;
  border-top: .1rem solid #222;
  color: #fff;
  padding: 2rem;
  padding-top: 2.5rem;
  margin-top: 1rem;
  font-size: 2rem;
}
.footer .credit span{
  color: var(--main-color);
}

/*our teams*/
.t4{
   text-align: center;
  padding-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size:  4rem;
}

.t4 span{
  color: var(--main-color);
  text-transform: uppercase;

}
/*slider*/
.teams .home-slider .swiper-slide{
  overflow: hidden;
  border-radius: .5rem;
  height: 50rem;
  width: 35rem;
}
.teams .home-slider .swiper-slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.service .box-container .box:hover{
  transform: scale(1.1);
  cursor: pointer;
}






















/*media queries*/
/*for navigation bar*/
@media (max-width:991px)
{
  html{
  font-size: 55%;
}
.header{
  padding: 1.5rem 2rem;
}
section{
  padding: 2rem;
}
 .container{
  width:90%;
  padding: 30px 35px 40px 35px;
}
}
@media (max-width:768px){
  #menu-bars{
    display: initial;
}
.header .navbar{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border-top: .1rem solid #222;
  background: #333;
  clip-path: polygon(0 0,100% 0,100% 0, 0 0);
}
/*js -part*/
.header .navbar.active{
  clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
}
.fa-times{
  transform: rotate(180deg);
}
/*js-part-end*/
.header .navbar a{
  display:flex;
  background: #222;
  border-radius: .5rem;
  padding: 1.3rem;
  margin: 1.3rem;
  font-size: 2rem;
}
.home .content h3{
  font-size: 4rem;
}
}
@media(max-width:450)
{
  html{
    font-size: 50%;
  }
  .home .home-slider .swiper-slide{
    width: 27rem;
  }
}